<?xml version="1.0" encoding="utf-8"?>
<!--
/* Copyright (C) 2009, 2010 Android Nerds Software
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.androidnerds.reader"
        android:versionCode="2"
        android:versionName="0.1">

    <uses-sdk 
        android:minSdkVersion="3"
        android:targetSdkVersion="5" />
	
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
	
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <provider android:name=".provider.ReaderProvider"
                android:authorities="org.androidnerds.reader.provider.Reader" />
				
        <activity android:name=".activity.ChannelList"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.reader.channel" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PostList" android:label="@string/app_name">
            <intent-filter android:label="View Posts">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.reader.post" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ChannelAdd" android:label="New Feed">
            <intent-filter android:label="New Channel">
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.reader.channel" />
            </intent-filter>
        </activity>
		
        <activity android:name=".activity.PostView" android:label="@string/app_name">
            <intent-filter android:label="View Post">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.reader.post" />
            </intent-filter>
        </activity>
		
        <activity android:name=".activity.AccountActivity" android:label="Account Setup" />
        <activity android:name=".activity.EclairAccountActivity" android:label="Account Setup" />
    </application>
</manifest> 
